/target/
/starter-archetype/target/
/starter-ui/target/
/.idea/*
/*.iml
/starter-archetype/payara-starter-archetype.iml
/starter-archetype/src/main/resources/archetype-resources/.gradle
/starter-ui/payara-starter-ui.iml
