<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Payara</title>

        <style>
            body {
                background-image: linear-gradient(rgba(0,44,62), rgba(0,44,62,.8), rgba(0,44,62));
                color: #fff;
            }
            a {
                font-weight: bold;
                color: white;
            }
        </style>
    </head>
    <body>


        <h1>Greetings from Payara!</h1>
        <p>
            Thank you for visiting <a href="https://www.payara.fish/">Payara</a>! We're thrilled to have you here. Payara is your go-to destination for all things Jakarta EE and Java enterprise applications.
        </p>
        <p>
            <a href="https://www.payara.fish/"><img width="50%" src="images/payara-fish-logo.svg" alt="Payara Logo"></a>
        </p>

        <h2>RESTful Service</h2>
        <p>
            The REST end-point is available at <a href="resources/hello">resources/hello</a>.
            You can supply a name to the end-point using a query parameter like this: <a href="resources/hello?name=John">resources/hello?name=John</a>
        </p>

        <% if (formAuthFileRealm || formAuthDB) { %>
        <h2>Secure Pages</h2>
        <p>
            Explore the secured pages:
        </p>
        <ul>
            <li><a href="secured/users.xhtml">Secure Users Page</a></li>
            <li><a href="admin/admins.xhtml">Admin Page</a></li>
        </ul>

        <h2>Secured RESTful Endpoints</h2>
        <p>
            Access secured RESTful endpoints:
        </p>
        <ul>
            <li><a href="resources/protected">Secured Protected Resource</a></li>
            <li><a href="resources/admin">Secured Admin Resource</a></li>
        </ul>
        <% } %>

        <% if (mpOpenAPI) { %>        
        <h2>API Documentation</h2>
        <p>
            Explore the API documentation for the RESTful service using Swagger and OpenAPI. You can access the documentation at the following link:
            <a href="swagger.html">Swagger and OpenAPI Documentation</a>
        </p>
        <% } %>
        <h2>Why Choose Payara?</h2>
        <p>
            Dive into the world of Jakarta EE with Payara. Our robust application server empowers you to build and deploy scalable, enterprise-ready solutions with ease.
        </p>
        <p>
            Explore the incredible features of Payara, from seamless clustering to unparalleled support. Get started on your journey with Payara by checking out our <a href="https://www.payara.fish/documentation">documentation</a>.
        </p>
    </body>
</html>
